/* ===================== IMPORT FONT ===================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ===================== RESET ===================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(1, 1, 1, 0.17); /* Corrigido */
    color: #070707;
}

/* ===================== SVG ===================== */

header .icons {
    width: 240px;
    display: flex;
    position: relative;
    right: 190px;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.icons svg {
    width: 50px;
    height: 50px;
    transition: transform 0.3s, fill 0.3s;
}

.icons svg:hover {
    transform: scale(1.1);
    fill: #e8491d;
    cursor: pointer;
}



/* ===================== HEADER ===================== */
header {
    width: 100%;
    max-width: 1700px;
    margin: 0px;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 50px;
    align-items: center;
    position: relative;
    z-index: 100;
    padding: 20px 0;
    background-color: #fff;
}

header .logo {
    font-weight: 700;
    font-size: 20px;
    margin: 20px 30px;
    letter-spacing: 0.7px;
}

header .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
}

header .menu li {
    cursor: pointer;
    transition: color 1s;
}
header .menu li a{
    text-decoration: none;
    color: #070707;
}

header .menu li :hover {
    color: #e8491d;
}

/* ===================== SLIDER ===================== */
.slider {
    position: relative;
    width: 100%;
    height: calc(100vh - 90px); /* altura total menos header */
    overflow: hidden;
    
}

.slider .list {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider .list .item {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.05);
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
}

.slider .list .item.active {
    opacity: 1;
    transform: scale(1);
    z-index: 10;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
}


.slider .list .item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: conic-gradient(from deg, rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.822));
}

/* ===================== CONTEÚDO DO SLIDE ===================== */
.slider .list .item .content {
    position: absolute;
    left: 10%;
    top: 5%;
    width: 75%;         
    max-width: 1200px;  
    z-index: 11;
    color: #fff;
}
.slider .list .item .content p:first-child {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 0.9rem;
    opacity: 0.9;
}

.slider .list .item .content h2 {
    font-size: 100px;
    margin: 10px 0;
}

/* ===================== PARÁGRAFOS DO SLIDER ===================== */
.slider .list .item .content p span {
    display: inline-block;
    transform: scale(1);
    transition: transform 0.7s ease 0.2s;
}

/* Hover do parágrafo */
.slider .list .item .content p span:hover {
    transform: translateY(0) scale(1.2);
    transition: transform 0.7s ease 0.2s;
    font-weight: bold;
    color: #e8491d;
}




/* ===================== ANIMAÇÃO ===================== */
@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 3;
    }
}

.slider .list .item.active p:first-child,
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.7s 0.2s ease-in-out forwards;
}

.slider .list .item.active h2 {
    animation-delay: 0.5s;
}

.slider .list .item.active p:nth-child(3) {
    animation-delay: 0.2s;
}



/* ===================== ARROWS ===================== */
.arrows {
    position: absolute;
    top: 40%;
    right: 50px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.arrows button {
    background-color: rgba(238, 238, 238, 0.3);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    cursor: pointer;
    transition: 0.5s;
}

.arrows button:hover {
    background-color: #eee;
    color: #000;
}


/* ===================== MINIATURAS ===================== */


.thumbnail {
    position: absolute;
    bottom: -40px;
    z-index: 20;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 200px;
    padding: 0 50px;
    overflow-x: visible;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item {
    position: relative;
    width: 150px;
    height: 220px;
    filter: brightness(0.2);
    transition: 0.5s;
    flex-shrink: 0;
    cursor: pointer;
}

.thumbnail .item:hover{
    cursor: pointer;
    scale: 1.2;
    filter: contrast(0.9);
}

.thumbnail .item img {
    width: 100%;
    height: 105%;
    object-fit: cover;
    border-radius: 40px;
}

.thumbnail .item.active {
    filter: brightness(1.1);
    transform: scale(1);
}

.thumbnail .item .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    font-size: 0.9rem;
    text-align: center;
}

/* ===================== CONTEÚDO ===================== */
main {
    margin-top: 20px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 40px;
}

section h2 {
    font-weight: 400;
    border-bottom: 2px solid #e8491d;
    padding-bottom: 10px;
    margin-bottom: 20px;
}   

/* ===================== RESUMO ===================== */
.resumo-list {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.resumo-list ul {
    list-style: square inside;
    margin-left: 50px;
}

.resumo-list ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-left: 20px;
}
.resumo-list ul li::marker {
    color: #e8491d;
    margin-right: 20px;
}   

/* ===================== GRID ===================== */
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    min-width: 250px;
    transition: transform 0.5s ease, z-index 0s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    overflow: hidden;
}

.card:hover {
    z-index: 10;
    transform: scale(1.2);
}

.card:hover::after {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9;
    pointer-events: none;
}

/* ===================== GRID HORIZONTAL ===================== */
.slider2 {
    display: flex;
    flex-direction: column; /* empilha os elementos verticalmente */
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 40px 0;
}

.grid2 {
    display: flex;
    gap: 20px;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.card2 {
    background-color: rgba(53, 66, 74, 0.18);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    height: 480px;
    flex-shrink: 0;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card2:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

/* container dos botões */
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* espaço entre botões */
    margin-top: 25px; /* espaço acima dos botões */
}

/* estilo dos botões */
.arrow {
    background: rgba(232, 73, 29, 0.8);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: 0.3s;
}

.arrow:hover {
    background: rgba(232, 73, 29, 1);
}


.arrow:hover {
    background: rgb(255, 245, 242);
}
/* ===================== FOOTER ===================== */
.site-footer {
    background: #35424a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


/* ===================== RESPONSIVO ===================== */
@media screen and (max-width: 678px) {
    .thumbnail {
        justify-content: start;
        padding: 0 10px;
    }
    .slider .list .item .content h2 {
        font-size: 60px;
    }
    .slider .list .item .content {
        left: 5%;
        top: 25%;
        width: 90%;
    }
    .arrows {
        top: 10%;
        right: 20px;
    }
}
